<div class="row">
  <div id="developSomething" class="col-xs-12 col-sm-12">
    <h3>Create Something:</h3>
    <ul>
      <li><img src="../../assets/art_icon.png" alt="Draw Icon"/>
        <figure>
          <figcaption><a href="artstory">Art Story</a></figcaption>
        </figure>
      </li>
      <li>
        <figure><a href="audiostory"><img src="../../assets/audio_icon.png" alt="Audio Icon"/>
          <figcaption>Audio Story</figcaption>
        </a></figure>
      </li>
      <li>
        <figure><a href="videostory"><img src="../../assets/video_icon.png" alt="Video Icon"/>
          <figcaption>Video Story</figcaption>
        </a></figure>
      </li>
      <li>
        <figure><a href="picturestory"><img src="../../assets/picture_icon.png" alt="Photo Icon"/>
          <figcaption>Photo Story</figcaption>
        </a></figure>
      </li>
      <li>
        <figure><a href="musicstory"><img src="../../assets/music_icon.png" alt="Music Icon"/>
          <figcaption>Music Story</figcaption>
        </a></figure>
      </li>
      <li>
        <figure><a href="textstory"><img src="../../assets/text_icon.png" alt="Text Icon"/>
          <figcaption>Text Story</figcaption>
        </a></figure>
      </li>
      <li>
        <figure><a href="groupstory"><img src="../../assets/collaborate_icon.png" alt="Collaborate Icon"/>
          <figcaption>Collaborate</figcaption>
        </a></figure>
      </li>
    </ul>
  </div>
</div>