<div class="container">
  <div class="row">
    <div id="developSomething" class="col-xs-12 col-sm-12">
      <h3>Create Something:</h3>
      <ul>
        <li><img src="../../assets/art_icon.png" alt="Draw Icon" />
          <figure>
            <figcaption><a href="artstory">Art Story</a></figcaption>
          </figure>
        </li>
        <li>
          <figure><a href="audiostory"><img src="../../assets/audio_icon.png" alt="Audio Icon" /><figcaption>Audio Story</figcaption></a></figure>
        </li>
        <li>
          <figure><a href="videostory"><img src="../../assets/video_icon.png" alt="Video Icon" /><figcaption>Video Story</figcaption></a></figure>
        </li>
        <li>
          <figure><a href="picturestory"><img src="../../assets/picture_icon.png" alt="Photo Icon" /><figcaption>Photo Story</figcaption></a></figure>
        </li>
        <li>
          <figure><a href="musicstory"><img src="../../assets/music_icon.png" alt="Music Icon" /><figcaption>Music Story</figcaption></a></figure>
        </li>
        <li>
          <figure><a href="textstory"><img src="../../assets/text_icon.png" alt="Text Icon" /><figcaption>Text Story</figcaption></a></figure>
        </li>
        <li>
          <figure><a href="group.story"><img src="../../assets/collaborate_icon.png" alt="Collaborate Icon" /><figcaption>Collaborate</figcaption></a></figure>
        </li>
      </ul>
    </div>
  </div>
  <br />
  <hr />
  <div class="quickLinks">
    <div class="col-xs-12 col-sm-12 col-md-12 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        <a href="#" class="list-group-item active">Trending</a>
        <a href="#" class="list-group-item">Dreams</a>
        <a href="#" class="list-group-item">Moving Towns</a>
        <a href="#" class="list-group-item">Dating</a>
        <a href="#" class="list-group-item">Growing Up</a>
        <a href="#" class="list-group-item">Parents</a>
        <a href="#" class="list-group-item">Fashion and Style</a>
        <a href="#" class="list-group-item">Group Story</a>
        <a href="#" class="list-group-item">Puberty</a>
      </div>
    </div><!--/.sidebar-offcanvas-->

  </div>

  <div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
  </div>

  <div id="projects">
    <div class="projectRow">
      <div class="col-md-4 portfolio-item">
        <a href="sampleproject">
          <img class="img-responsive" src="../../assets/houses/homeone.jpg" alt="Sample Image">
        </a>
        <h3>
          <a href="sampleproject"> Sample Video Project</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="../../assets/houses/hometwo.jpg" alt="Sample Image">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="../../assets/houses/homethree.jpg" alt="Sample Image">
        </a>
        <h3>
          <a href="sampleTextproject">Sample Text Project</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="projectRow">
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="../../assets/houses/homefour.jpg" alt="Sample Image">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="../../assets/houses/homefive.jpg" alt="Sample Image">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="../../assets/houses/homesix.jpg" alt="Sample Image">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
    </div>


    <!-- Projects Row -->
    <div class="projectRow">
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="../../assets/houses/homeseven.jpg" alt="Sample Image">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="../../assets/houses/homeeight.png" alt="Sample Image">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="../../assets/houses/homenine.jpg" alt="Sample Image">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
    </div>
    <!-- /.row -->

  </div>
  

</div><!--/.container-->
