<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">UpTell - Express Yourself</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><a href="dashboard">Dashboard</a></li>
          </ul>
      <% end %>

      <div class="pull-right login-details">
        <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        <% else %>
            <a href="/users/sign_in" class="btn btn-primary">Login</a>
            <a href="/users/sign_up" class="btn btn-default">Sign Up</a>
        <% end %>
      </div>
    </div><!--/.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>