<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">UpTell - Express Yourself</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><a href="dashboard">Dashboard</a></li>
          </ul>
      <% end %>

      <% if !user_signed_in? %>
          <form class="navbar-form navbar-left" action="users/sign_up">
            <div class="form-group">
              <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
          </form>

          <form class="navbar-form navbar-right" action="dashboard">
            <div class="form-group">
              <label>Email</label><input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label><input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
      <% end %>
    </div><!--/.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>