<div class="container">

<h1 align="center">About</h1>
        <p>UpTell is a social storytelling community where teens express themselves freely through different types of media (text, art, photo, video, audio, and music). UpTell contains a digital platform with all the multimedia authoring tools necessary to construct, share, and interconnect through stories.</p>
<p>Read the description below for more detailed information about our project. We are also linking to our various project components.</p>
        <p><a href="https://docs.google.com/document/d/1FN_ZgdQ3RF2lJwrqeGugauiunzBOdBFemgaR-iAdIDM/edit?usp=sharing" target="_blank">UpTell Final Description</a></p>
        <p><a href="https://docs.google.com/document/d/1Egqj2gw4Ry3OLUIThbzLGJnncnw3jJ5hdjHyA6P4ay8/edit?usp=sharing" target="_blank">UpTell Final Project Rubric</a></p>
        <p><a href="https://docs.google.com/document/d/13BEqnRKuUPjyTEVwiLlddXrFPG_do_twbpd0dPrCvEo/edit?usp=sharing" target="_blank">UpTell Research Paper</a></p>
        <p><a href="https://docs.google.com/document/d/1cQQJ1UzZ19cdNqM7LRJVI7hkuJtoDhOqi7d1kdx04EA/edit?usp=sharing" target="_blank">UpTell Prototype UDL Features</a></p>
        <p><a href="https://docs.google.com/a/mail.harvard.edu/document/d/1RADIpGZHmaeinS7CEqcCY4nRkX5yNGb79_q7H9BQEtE/edit?usp=sharing" target="_blank">UpTell Creative Brief</a></p>
        <p><a href="https://docs.google.com/document/d/1aAun5Y8z_6m6h7MQMCN8lhU08f9S8DCLzKi_SomDGRw/edit?usp=sharing" target="_blank">UpTell Social Media Strategy Plan</a></p>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/4psbmiYm0pk" frameborder="0" allowfullscreen></iframe></p>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/lO88QlNiNNY" frameborder="0" allowfullscreen></iframe></p>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/dCdIq2QbqO8" frameborder="0" allowfullscreen></iframe></p>
        <hr>
</div>

