<div class="container">
  <br/><br/>
  <h1 align="center">Help and Tutorials</h1></p>
  <p align="center">Below you will find links to various tools and resources for enhancing your digital production and
    storytelling skills.</p>
  <h2>Digital Storytelling </h2>
  <a href="http://classroom-aid.com/technology-resources/digital-storytelling-resources/" target="_blank">Examples and
    Resources</a></p>


  <h2>Video Tools and Tutorials</h2>
  <a href="https://www.youtube.com/editor" target="_blank">YouTube Video Editor</a><br>
  <a href="http://www.moviestorm.co.uk/" target="_blank">Moviestorm</a>: 3D Animation</p>

  <a href="https://support.google.com/youtube/answer/183851?hl=en" target="_blank">How to use YouTube Video Editor (text
    tutorial)</a><br>
  <a href="https://www.youtube.com/watch?v=A3ypVoN4NVM" target="_blank">How to use YouTube Video Editor (video
    tutorial)</a><br>
  <a href="http://www.moviestorm.co.uk/hub/docs" target="_blank">Moviestorm Tutorials Page</a></p>

  <h2>Photo Tools and Tutorials</h2>
  <a href="https://pixlr.com/" target="_blank">Pixlr</a>: web-based photo editor<br>
  <a href="http://picasa.google.com/" target="_blank">Picasa</a>: Google's photo editor</p>

  <a href="http://blogs.kqed.org/education/2015/03/09/working-with-photos-in-pixlr-editor" target="_blank">Working with
    Photos in Pixlr Editor</a><br>
  <p><a href="https://support.google.com/picasa/answer/157000?hl=en" target="_blank">How to Use Picasa</a></p>

  <h2>Audio/Music Tools and Tutorials</h2>
  <p><a href="http://sourceforge.net/projects/audacity/" target="_blank">Audacity</a>: audio editing software</p>

  <a href="http://manual.audacityteam.org/o/man/tutorials.html" target="_blank">Audacity Tutorials Page</a><br>
  <a href="http://www.fayar.net/ramay/AudacityBasicTraining.pdf" target="_blank">Audacity Basic Training</a><br>

  <a href="https://www.youtube.com/watch?v=EGocD5a12-w" target="_blank">Importing Audio in Audacity</a><br>

  <a href="https://www.youtube.com/watch?v=G7BZjjH4I9M" target="_blank">Editing Audio in Audacity</a><br>
  <a href="https://www.youtube.com/watch?v=HQ2GoReFgV0" target="_blank">Exporting Audio in Audacity</a></p>
  <hr>
</div><!--/.container-->