<!-- Call to action -->
<div>
  <div class="video-container">
    <iframe src="https://www.youtube.com/embed/4psbmiYm0pk" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Featured Writing Project</h2>
      <a href="#">
        <img class="img-responsive" src="../../assets/featured/favoriteone.jpg" alt="Featured Writing Project">
      </a>
      <p> Teen Title and Description</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Featured Video Project</h2>
      <a href="#">
        <img class="img-responsive" src="../../assets/featured/favoritetwo.jpg" alt="Featured Video Project">
      </a>
      <p> Teen Title and Description</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Featured Music Project</h2>
      <a href="#">
        <img class="img-responsive" src="../../assets/featured/favoritethree.jpg" alt="Featured Music Project">
      </a>
      <p> Teen Title and Description</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Create</h2>
      <p class="lead">Create a story about anything you want, however you want. Love to talk and be in front of the camera? You'll love our video and picture tools. Are you camera shy? You can make a text or audio story. Do you like to draw or make music? We have an art and music tool, too. You can even create with your friends.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="../../assets/create.jpg" alt="Create"/>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="../../assets/share_main.jpg" alt="Share" />
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Share</h2>
      <p class="lead">Once you've made a story, you can share it with your friends and the rest of the UpTell community.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Explore</h2>
      <p class="lead">Look to see what stories others are creating. You can search by interests, make new friends, and learn about life around the world. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" src="../../assets/explore.jpg" alt="Explore" />
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div> <!-- /container -->
